body{
	font-family: Lato;
	background:  #0084b4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #c0deed,   #0084b4);   /*Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #c0deed,   #0084b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
				 0px 8px 13px rgba(0,0,0,0.1);
				 0px 18px 23px rgba(0,0,0,0.1);
}

button{
	padding: 5px auto;
}

img{
	width: 100px;
	height: 50px;
}

.btn{
	background: transparent;
	border: none;
	font-size: 20px;
}

.tweets{
	border: 1px solid black;
	justify-content: center;
	border-radius: 20px;
	padding: 5px;
	text-align: center;
}



#showNewTweets {
	height: 40px;
	width: 100px;
	font-size: 15px;
	background-color: transparent;
	justify-content: center;
	border-radius: 15px;
}

#tweetText {
	height: 30px;
	width: 500px;
	font-size: 20px;
	background-color: white;
	justify-content: center;

}
